  
    <div class="col-md-6">
        <div class="card m-2">
            <div class="card-body overflow-auto">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{summary}}</p>
                <a href="{{link}}" target="_blank" class="card-link">{{link}}</a><br>
                <button type="button" class="btn btn-outline-info save mt-2" data-id={{_id}}>Save Article</button>
            </div>
        </div>
    </div>
