<div class="modal fade modalNote" id="noteModal{{_id}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Note for {{_id}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            {{#if notes}}
                {{#each notes}}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>Previous Note:</h4>
                            <p class="previousNotes">{{body}}
                            <button type="button" class="btn btn-sm btn-danger mb-3 deleteNote" data-note-id={{_id}}><i class="far fa-times-circle"></i></button>
                            </p>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>No notes for this article yet.</h4>
                    </div>
                </div>
            {{/if}}
            <div class="form-group">
                <textarea id="noteText{{_id}}" class="form-control" rows="4" placeholder="New Note"></textarea>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-info save-note" data-id={{_id}}>Save</button>
      </div>
    </div>
  </div>
</div>